In [1]:
from emoinvest.stock_data_importer.stock_import import get_single_stock

In [2]:
df = get_single_stock('googl', '2018-01-01', '2018-01-05')

In [3]:
df.head()

,high,low,open,close,volume,adj_close,ticker_symbol
Date,,,,,,,
2018-01-02,1075.979980,1053.020020,1053.020020,1073.209961,1588300,1073.209961,googl
2018-01-03,1096.099976,1073.430054,1073.930054,1091.520020,1565900,1091.520020,googl
2018-01-04,1104.079956,1094.260010,1097.089966,1095.760010,1302600,1095.760010,googl
2018-01-05,1113.579956,1101.800049,1103.449951,1110.290039,1512500,1110.290039,googl