In [1]:
from emoinvest.stock_data_importer.stock_import import get_single_stock
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
np.set_printoptions(precision=2)
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))


%matplotlib inline

height has been deprecated.

In [2]:
df = get_single_stock('AAPL', '2016-01-01', '2018-09-10')
df.head()

              high     low    open   close       volume  adj_close ticker_symbol
Date
2016-01-04 105.370 102.000 102.610 105.350 67649400.000    100.275          AAPL
2016-01-05 105.850 102.410 105.750 102.710 55791000.000     97.762          AAPL
2016-01-06 102.370  99.870 100.560 100.700 68457400.000     95.849          AAPL
2016-01-07 100.130  96.430  98.680  96.450 81094400.000     91.803          AAPL
2016-01-08  99.110  96.760  98.550  96.960 70798000.000     92.289          AAPL